<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Handlebars</title>

    <style>
    </style>
  </head>

  <body>

    <div class="jumbotron text-center" style="background-color: #71CEFF; ">
      <h1>Handlebars</h1>
      <p>Welcome to Handlebars!<br>
        A site built with the CityBikes, Maps Static, and MetaWeather APIs.
      </p>
    </div>

    <h2 style="text-align: center;">Search a Location</h2>

    <!-- <form action="/search" align="center">
    	<input type="text" name="username"><br><br>
    	<button type="submit">Log In</button>
    </form> -->
    <form class="active-cyan-3 active-cyan-4" action="/search" style="text-align: center;">
      <input class="form-control" type="text" placeholder="Location here..."
        aria-label="Search" style="width: 30%; margin: 10px auto;" name="searchbar">
      <button class="btn btn-primary" type="submit">Search</button>
    </form>

    {% block searchresults %}

    {% endblock %}

    <br><br><br>
    <center>
      <footer>~ Team Handlebars ~</footer>
    </center>
  </body>
</html>
