{% extends "template.html" %}

{% block buttons %}
<li class="nav-item">
  <a href="{{ url_for('profile') }}" class="nav-link">Profile</a>
</li>

<li class="nav-item">
  <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
</li>
{% endblock %}

{% block body %}
<div class="jumbotron text-center" style="background-color: #aed6f1;">
  <h1>Handlebars</h1>
  <p>Welcome to Handlebars!<br>
    A site built with the CityBikes, Maps Static, and MetaWeather APIs.
  </p>
</div>

<h2 style="text-align: center;">Search a Location</h2>

<form class="active-cyan-3 active-cyan-4" action="/search" style="text-align: center; margin-bottom: 50px;">
  <input class="form-control" type="text" placeholder="Location here..."
    style="width: 30%; margin: 10px auto;" name="searchbar">
  <button class="btn btn-primary" type="submit">Search</button>
</form>

{% block searchresults %}
<div style="position: absolute; bottom: 0; padding: 6px; margin-top: 0; width: 100%; background: rgba(0, 0, 0, 0.5); color: white; text-align: center; border-top: solid; border-color:lightgray; border-width: 5px;">
   &copy Team HandleBars - Kenneth Chin, Calvin Chu, Jeff Lin, Henry Liu <br> "What does a bike and a rubber duck have in common? They both have a handlebar except for the duck."
</div>
{% endblock %}

{% endblock %}
