<!DOCTYPE html>
{% extends "template.html" %}

{% block buttons %}
<li class="nav-item">
  <a href="{{ url_for('loggedIn') }}" class="nav-link">Home</a>
</li>

<li class="nav-item">
  <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
</li>
{% endblock %}


{% block body %}
<h1><p>{{title}}</p></h1>
{% for entry in toprint %}
<div class="container-fluid" >
  <div class="row">
    <div class="col-sm border">
      <div style="margin: 10px;">
        <h3><p>Bike Company : {{entry[4]}}</p><h3>
        <h3><p>City : {{entry[2]}}</p><h3>
        <a href="http://127.0.0.1:5000/search?searchbar={{entry[2]}}" class="button">See {{entry[4]}}</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
<form action="/addBike">
  <button type="submit">Submit</button>
</form>
{% endblock %}
