<!DOCTYPE html>
{% extends "template.html" %}

{% block css %}
<style>
.submitLink {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  color: blue;
  cursor: pointer;
}
</style>
{% endblock %}

{% block buttons %}
<li class="nav-item">
  <a href="{{ url_for('root') }}" class="nav-link">Home</a>
</li>

<li class="nav-item">
  <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
</li>
{% endblock %}


{% block body %}
<div style="margin: 15px;">

<h1><p>{{ title }}</p></h1>

<div class="container-fluid" >

  <div class="row">
    <div class="col-sm">
      <div style="margin: 10px;">
        <h2><p>My Bikes</p></h2>

        {% if toprint|length == 0 %}
        <br>
        <h5>You haven't saved any bikes! <a href="{{ url_for('root') }}">Search for a bike.</a></h5>
        {% else %}
        <h5> Saved Bikes: {{ toprint|length }} </h5>
        {% for entry in toprint %}
        <div class="container-fluid" >
          <div class="row">
            <div class="col">
              <div style="margin: 10px;">
                <h3><p>{{ entry[3] }}</p><h3>
                <h4><p><form action="/search" method="GET" style="margin: 0; padding: 0;">
                  <input type="hidden" name="searchbar" value="{{entry[5]}}" >
                  <input type="submit" class="submitLink" value="{{entry[5]}}" style="display: inline; margin-left:-8px;">
                </form>
                </p></h4>
                <form action="/reviews" method=GET>
                <input type="hidden" name="id" value="{{entry[0]}}">
                <button class="btn btn-primary" type="submit">{{entry[3]}} Reviews</button>
                </form>
              </div>
            </div>

            <div class="col-2" style="text-align: center">
              <br>
              <form action="/addReview" method=GET style="padding-bottom: 5px">
              <input type="hidden" name="id" value="{{entry[0]}}">
              <button class="btn btn-primary" type="submit">Write/Edit a Review</button>
              </form>
              <form action="/profile" method="GET">
                <input type="hidden" name="rid" value="{{entry[0]}}">
                <button class="btn btn-danger" type="submit">Remove</button>
              </form>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
  <hr>
</div>

<div class="container-fluid" >
  <div class="row">
    <div class="col-sm">
      <div style="margin: 10px;">
        <h2><p>My Reviews</p><h2>

          <h5>Reviews Written: {{ reviews|length }}</h5>
          {% for entry in reviews %}
          <div class="container-fluid" >
            <div class="row">
              <div class="col">
                <div style="margin: 10px;">
                  {% if entry[1] in locs %}
                  <h3>
                    <form action="/search" method="GET" style="margin: 0; padding: 0;">
                      {{locs[entry[1]][1]}},
                      <input type="hidden" name="searchbar" value="{{locs[entry[1]][0]}}">
                      <input type="submit" class="submitLink" value="{{locs[entry[1]][0]}}" style="display: inline; margin-left:-8px;">
                    </form>
                    </h3>
                  {% endif %}
                  <h6><p>{{ entry[3] }}</p></h6>
                  {% for n in range(5) %}
                  {% if n < entry[2] %}
                  <div style="color: #ffc700; float:left; font-size:25px;">
                  ★
                  </div>
                  {% else %}
                  <div style="color: #ccc; float:left; font-size:25px;">
                  ★
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>

              <div class="col-2" style="text-align: center">
                <form action="/addReview" method=GET style="padding-bottom: 5px">
                <input type="hidden" name="id" value="{{entry[1]}}">
                <button class="btn btn-primary" type="submit">Edit Review</button>
                </form>
                <!-- <form action="/search" method=GET style="padding-bottom: 5px">
                <input type="hidden" name="searchbar" value="{{locs[entry[1]][0]}}">
                <button class="btn btn-primary" type="submit">{{locs[entry[1]][1]}} Information</button>
                </form> -->
                <form action="/reviews" method=GET>
                <input type="hidden" name="id" value="{{entry[1]}}">
                <button class="btn btn-primary" type="submit">See all Reviews</button>
                </form>
              </div>
            </div>
          </div>
          {% endfor %}

      </div>
    </div>
  </div>
</div>

</div> <br><br><br>
{% endblock %}
