<!DOCTYPE html>
{% extends "template.html" %}

{% block buttons %}
<li class="nav-item">
  <a href="{{ url_for('root') }}" class="nav-link">Home</a>
</li>

<li class="nav-item">
  <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
</li>
{% endblock %}


{% block body %}
<div style="margin: 15px;">

<h1><p>{{ company }}</p></h1>


<div class="container-fluid" >
  <div class="row">
    <div class="col-sm">
      <div style="margin: 10px;">
        <h2><p>Reviews</p><h2>
          {% for entry in review %}
          <div class="container-fluid" >
            <div class="row">
              <div class="col">
                <h3><p>{{ entry[0] }}: </p><h3>
                 <h6><p>{{ entry[3] }}</p><h6>
                   {% for n in range(5) %}
                   <div style="color: #ffc700; float:left;">
                   ★
                   </div>
                   {% endfor %}
              </div>
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>
</div>




<div class="footer-copyright text-center py-3">
  &copy Team HandleBars - Kenneth Chin, Calvin Chu, Jeff Lin, Henry Liu <br> "What do a bike and a rubber duck have in common? They both have a handlebar except for the duck."
</div>

{% endblock %}
