{% extends "homepage.html" %}

{% block css %}
<style>
  .col-lg{
    margin: 15px;
    padding: 20px;
  }
  .footer-copyright{
    padding: 6px;
    margin-top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white; text-align: center;
    border-top: solid;
    border-color:lightgray;
    border-width: 5px;
  }

  .submitLink {
    background-color: transparent;
    text-decoration: underline;
    border: none;
    color: blue;
    cursor: pointer;
  }
  submitLink:focus {
    outline: none;
  }

</style>
{% endblock %}

{% block searchresults %}
<div class="container-fluid">
  <center>
    <h5>Location found:</h5>
    <h5>{{ locationaddress }} </h5>
  </center>

  <div class="row">

    <div class="col-lg border">
        <h1>Weather Information</h1>
        <h2>{{place}}</h2>
        <p>Date: {{applicable_date}}</p>
        <p>Temperature: {{farenheit}} °F / {{celsius}} °C</p>
        <p>Weather: {{weather_state_name}}</p>
        <img src="{{ weatherimage }}">
    </div>

    <div class="col-lg border">
      <h1>Bike Information</h1>
      {% if bikes|length == 0 %}
      <br>
      <p>No bikes found at this location.</p>
      {% else %}
      {% for bike in bikes %}
      <!-- {{bike[0]}} -->
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <form  action="/reviews" method="GET">
              <input type="hidden" name="id" value="{{bike[0]}}">
              <h3><input type="submit" class = "submitLink" value="{{bike[3]}}" /></h3>

            </form>
            <p>{{ bike[5] }}</p>
          </div>
          <div class="col">
            <form class="box" action="/profile" method="GET">
              <input type="hidden" name="id" value="{{bike[0]}}">
              <button class="btn btn-success" type="submit" style="float: right;">Add to My Bikes</button>
            </form>
          </div>
        </div>
      </div>

      {% endfor %}
      {% endif %}
    </div>

    <div class="col-lg border">
      <h1>Map</h1>
      <img src="{{ mapimage }}" width="80%" style="display: block; margin-left: auto; margin-right: auto;">
    </div>

  </div>
</div>

<br><br><br>

{% endblock %}
