{% extends "homepage.html" %}

{% block css %}
<style>
  .col-sm{
    margin: 15px;
    padding: 20px;
  }
  .footer-copyright{
    padding: 6px;
    margin-top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: white; text-align: center;
    border-top: solid;
    border-color:lightgray;
    border-width: 5px;
  }
</style>
{% endblock %}

{% block searchresults %}
<div class="container-fluid">
  <div class="row">

    <div class="col-sm border">
        <h1>Weather Information</h1>
        <h2>{{place}}</h2>
        <p>Date: {{applicable_date}}</p>
        <p>Temperature: {{farenheit}} °F / {{celsius}} °C</p>
        <p>Weather: {{weather_state_name}}</p>
        <img src="{{ weatherimage }}">
    </div>

    <div class="col-sm border">
      <h1>Bike Information</h1>
      {% for bike in bikes %}

      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <h3>{{ bike[2] }}</h3>
            <p>Coordinates: {{ bike[3] }}, {{ bike[4] }}</p>
          </div>
          <div class="col">
            <form class="box" action="/profile" method="GET">
              <input type="hidden" name="id" value="{{bike[0]}}">
              <button class="btn btn-success" type="submit" style="float: right;">Add to My Bikes</button>
            </form>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>

    <div class="col-sm border">
      <h1>Map</h1>
      <img src="{{ mapimage }}" width="80%" style="display: block; margin-left: auto; margin-right: auto;">
    </div>

  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm border">
      <h1>Reviews</h1>
      <h2>Average Rating: {{rating}}</h2>
      {% for review in reviews %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 border">
                <p>{{review[0]}}</p>
                <p>{{review[1]}}</p>
          </div>
          <div class="col-md-2 border">
                <p>Place edit and remove review button here</p>
          </div>
        </div>
      </div>
      {% endfor %}
  </div>
  </div>
</div>
<br>
<div class="footer-copyright text-center py-3">
  &copy Team HandleBars - Kenneth Chin, Calvin Chu, Jeff Lin, Henry Liu <br> "What does a bike and a rubber duck have in common? They both have a handlebar except for the duck."
</div>
{% endblock %}
