<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Handlebars {% block title %}{% endblock %}</title>
    <style>
    </style>
    {% block css %} {% endblock %}
  </head>
  <body style="font-family: 'Helvetica', 'Arial', sans-serif;">

    <nav class="navbar navbar-expand navbar-light" style="background-color: #5dade2;">
      {% if sessionstatus %}
      <p class="nav navbar-nav"></p>
      {% endif %}

      <ul class="nav navbar-nav ml-auto" style="">
          {% block buttons %}
          {% endblock %}
        </ul>
      </div>
    </nav>

    {% block body %}
    {% endblock %}


  </body>

</html>
